<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Fixtures</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">

</head>
<body>


<h1> Add your Products Here</h1>

<form method="POST" enctype="multipart/form-data"  th:action="@{/addProduct}" class="form-container" id="aboutForm">

    <div class="col-lg-3" th:object="${category}">

        <select class="form-control" id="category.id" name="category.id">
            <option value="">Select Category</option>
            <option th:each="cat : ${list}"
                    th:value="${cat.id}"
                    th:text="${cat.name}"></option>
        </select>
    </div>
    <div>

        <input type="file" name="image" multiple required />
    </div>
    <label for="name">name </label>
    <input type="text" name="name"/><br/>
    </div>

    <div>
        <label for="desc">desc: </label>
        <input type="text" name="desc"/><br/>
    </div>

    <div>
        <label for="quantity">quantity: </label>
        <input type="number" name="quantity"/><br/>
    </div>

    <div>
        <label for="price">price: </label>
        <input type="number" name="price"/><br/>
    </div>


    <div class="mytest">
        <input type="submit" value="Add"/>
    </div>


    <div class="mytest">
        <a href="/category">Close</a>
    </div>



</form>

<tr th:each="product:${product}">
    <td th:text="${product.Id}" />
    <td th:text="${product.name}"/>

</tr>

</body>
</html>